* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #6e6e6e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
li {
  list-style: none;
}
#gallery {
  margin-top: 40px;
  width: 1280px;
}

#gallery ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
img {
  cursor: pointer;
}

#overlay {
  display: flex;
  justify-content: center;
  z-index: 999;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: hsla(0, 0%, 10%, 0.9);
  cursor: pointer;
}

#overlay img {
  margin-top: 5%;
  width: 80%;
  height: 80%;
}

@media screen and (max-width: 1280px) {
  body {
    height: 120vh;
  }

  #gallery {
    width: 100%;
  }

  #gallery ul {
    justify-content: center;
    align-items: space-between;
  }

  #gallery ul li {
    margin: 10px 50px;
  }

  #overlay img {
    margin-top: 35vh;
    width: 360px;
    height: 216px;
  }
}
